<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h2>Login with ID Number</h2>
  <form method="POST" action="/login">
    <input type="text" name="idNumber" placeholder="Enter your ID" required />
    <button type="submit">Login</button>
  </form>
  <a href="/sign-up"><button type="button">Sign Up</button></a>

</body>
</html>
